<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>【统一异常处理页面】</title>
</head>
<body>
<div align="center">
    <h3>Exception Message</h3>
    <div>
        <p th:text="${timestamp}">发生异常时间:</p>
    </div>
    <div>
        <p th:text="${status}">发生异常状态码:</p>
    </div>
    <div>
        <p th:text="${url}">发生异常路径:</p></div>
    <div>
        <p th:text="${exception}">发生异常的对象:</p>
    </div>
    <div>
        <p th:text="${trace}">栈值信息:</p>
    </div>
</div>
</body>
</html>